body{
  background: whitesmoke;
}
.container {
  padding: 20px;
  padding-top:0px ;
}

.row {
  flex-wrap: nowrap;
}

.food-item {
  margin-right: 20px;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.top-images {
  margin-bottom: 10px;
}

.card-img-top {
  height: 100%;
  width: 100%; 
  object-fit: cover;
}
.image-carousel-container {
  max-width: 1400px; 
  margin: auto;
  margin-top: 50px;
}

.carousel-image {
  height: 400px; 
  object-fit: cover;
}

.home_imag{
  flex-wrap: wrap ;
}
.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 40px;
  background-color:white;
}

.logo_img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.nav1 {
  display: flex;
  align-items: center;
}

.searchbaar, .home, .signIn, .Cart {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo1 {
  margin-right: 10px; /* Adjust as needed */
}

.search_icon, .icon {
  width: 24px;
  height: 24px;
}

.nav1 a {
  margin-left: 10px; /* Adjust as needed */
  border: solid red 1px;
  padding: 5px;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}




/* .container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
}
.search_icon {
  border: solid red 1px;
  width: 30px; 
  height: 36px;
  margin-right: -20px;
  
}
.nav1 {
  display: flex;
  padding: 5px;
}
.nav1 a {
  margin-left: 20px;
  border: solid red 1px;
  padding: 5px;
  text-decoration: none;
  color: inherit;
}
.form-control {
  width: 150px;
}
.logo_img {
  border:solid red 1px;
  width: 50px; 
  height: 50px; 
} */
