body{
  background: whitesmoke;
}
.container {
  padding: 20px;
  padding-top:0px ;
}

.row {
  flex-wrap: nowrap;
}

.food-item {
  margin-right: 20px;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.top-images {
  margin-bottom: 10px;
}

.card-img-top {
  height: 100%;
  width: 100%; 
  object-fit: cover;
}
.image-carousel-container {
  max-width: 1400px; 
  margin: auto;
  margin-top: 50px;
}

.carousel-image {
  height: 400px; 
  object-fit: cover;
}

.home_imag{
  flex-wrap: wrap ;
}
.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.logo_img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.nav1 {
  display: flex;
  align-items: center;
}

.nav_item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

.nav_item img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
