<<<<<<< HEAD
=======
.container {
  overflow-x: auto;
  white-space: nowrap;
}

.food-item {
  flex: 0 0 auto;
  width: 150px; /* Adjust as needed */
  margin: 10px;
}

.image {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  object-fit: cover;
}

.row {
  position: relative;
}

.row::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(to right, transparent, white);
  pointer-events: none;
}
>>>>>>> 3df1be0d201f3323ff7b3a3163beceeaaa7473d9
